<a href="https://colab.research.google.com/github/horhebush/CCINCOML_EXERCISES_COM23P/blob/main/Exercise%206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [9]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [3]:
month[3]

'April'

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [9]:
month[8:12]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [16]:
month[:4]

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [11]:
len(month)

12

- Get the element with the largest value of the month list using `max()`

In [12]:
max(month)

'September'

- Get the element with the smallest value of the month list using `min()`

In [13]:
min(month)

'April'

- Sort the months of the year by alphabetical order using the `sorted()` function

In [14]:
sorted(month)

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [33]:
birth_month, day, year = 10, 18, 2003
print("Date of Birth: " + str(birth_month) + "/" + str(day) + "/" + str(year))

Date of Birth: 10/18/2003

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [23]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [29]:
unique_products = set(products)
print(unique_products)

{'laptop', 'monitor', 'headphones', 'mouse', 'keyboard', 'powerbank', 'tablet', 'speakers', 'projector', 'smartphone', 'printer'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [30]:
print("headphones" in products)

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [42]:
favorites = {'food': 'Sisig', 'color': 'Blue', 'sport': 'Ice Skating', 'drink': 'Gatorade No Sugar', 'dessert': 'Leche Flan'}
print(favorites['food'])
print(favorites['color'])
print(favorites['sport'])
print(favorites['drink'])
print(favorites['dessert'])

Sisig
Blue
Ice Skating
Gatorade No Sugar
Leche Flan

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [10]:
for x in month:
 print(x)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [86]:
for x in month:
  if x.endswith("ber"):
    print(x)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [85]:
for x in month:
  if x.find("ber") < 0:
    print(x)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [84]:
for x in range(5):
  print("Jorge Omar")

Jorge Omar
Jorge Omar
Jorge Omar
Jorge Omar
Jorge Omar

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [83]:
names = ['Joey Tribbiani', 'Monica Geller', 'Chandler Bing', 'Phoebe Buffay']
usernames = []

for x in names:
    usernames.append(x.lower().replace(" ", "_"))
print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [82]:
for x in month:
  print(x)
  if x.find('ber') > 0:
    break

January
February
March
April
May
June
July
August
September

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [81]:
print("Population: ")
population = int(input())
print("Land Area: ")
land_area = int(input())

def population_density(population, land_area):
    return population / land_area

density = population_density(population, land_area)
print("\nDensity:", density)

Population:
100
Land Area:
10

Density: 10.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [78]:
print("How many steps do you take every day?\n")

print("Sunday: ")
sunday = int(input())

print("Monday: ")
monday = int(input())

print("Tuesday: ")
tuesday = int(input())

print("Wednesday: ")
wednesday = int(input())

print("Thursday: ")
thursday = int(input())

print("Friday: ")
friday = int(input())

print("Saturday: ")
saturday = int(input())

daily_steps = sunday, monday, tuesday, wednesday, thursday, friday, saturday

def average_steps(steps_list):
    sum = 0
    for i in steps_list:
      sum = sum + i

    return sum / 7

print("\nAverage:", average_steps(daily_steps))

How many steps do you take every day?

Sunday:
150
Monday:
150
Tuesday:
150
Wednesday:
150
Thursday:
150
Friday:
150
Saturday:
150

Average: 150.0